.movie-list-entry {
    border: 1px solid black;
    background-color: lightgray;
    font-size: 20px;
    padding: 20px;
    margin: 0rem 5rem;
    width: 50rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}